<section class="slider-gallery" id="people-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Buttons to toggle sliders -->
        <div class="toggle-text">
          <a href="javascript:void(0);" id="meet-us-link" class="active">Meet Us</a> | 
          <a href="javascript:void(0);" id="mfq-world-link" class="faded">MFQ Around the World</a>
        </div>

        <!-- Meet Us Slider (default visible) -->
        <div class="product-slider" id="meet-us-slider">
          {{ range (shuffle (where .Site.RegularPages "Section" "people")) }}
            {{ $img := index .Params.images 0 }}
            {{ if and (not (in $img "alice.png")) (not (in $img "bob.png")) (not (in .Params.categories "alumni")) }}
            <div class="block" data-category="{{ .Params.categories }}">
              <div class="slider-gallery-overlay">
                <a href="{{ .Permalink }}" class="slider-gallery-popup">
                  <i class="tf-ion-plus-round"></i>
                </a>
              </div>
              <img class="img-fluid" src="{{ $img | absURL }}" alt="{{ .Title }}">
              <div class="product-info">
                <p style="margin-bottom:.5cm;"></p>
                <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
                <p class="price">{{.Params.summary}}</p>
              </div>
            </div>
            {{ end }}
          {{ end }}
        </div>

        <!-- Alumni Slider (hidden by default) -->
        <div class="alumni-slider" id="mfq-world-slider" style="display:none;">
          {{ range (shuffle (where (where .Site.RegularPages "Section" "people") ".Params.categories" "alumni")) }}
            {{ $img := index .Params.images 0 }}
            <div class="block" data-category="alumni">
              <div class="slider-gallery-overlay">
                <a href="{{ .Permalink }}" class="slider-gallery-popup">
                  <i class="tf-ion-plus-round"></i>
                </a>
              </div>
              <img class="img-fluid" src="{{ $img | absURL }}" alt="{{ .Title }}">
              <div class="product-info">
                <p style="margin-bottom:.5cm;"></p>
                <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
                <p class="price">{{.Params.summary}}</p>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
